{% if ssl_engine is defined and ssl_engine | lower == "yes" %}
<VirtualHost *:80>
    ServerName  {{ server_name }}
{% if server_alias is defined and server_alias | length > 0 %}
    ServerAlias {{ server_alias }}
{% endif %}
    Redirect permanent / https://{{ server_name }}
</VirtualHost>
<VirtualHost *:443>
    ServerName {{ server_name }}
{% if server_alias is defined and server_alias | length > 0 %}
    ServerAlias {{ server_alias }}
{% endif %}
    DocumentRoot {{ doc_root }}    
    SSLEngine on
    SSLCertificateFile {{ ssl_crt }}
    SSLCertificateKeyFile {{ ssl_key }}
    <Directory {{ doc_root }}>
    	Options  {% for option in options %}{{ option }} {% endfor %}
        
	DirectoryIndex {{ directory_index }}
        Require all granted
    	AllowOverride {{ allow_override }}
    </Directory>
</VirtualHost>
{% endif %}

{% if ssl_engine is defined and ssl_engine | lower == "no" %}
<VirtualHost *:80>
    ServerName  {{ server_name }}
{% if server_alias is defined and server_alias | length > 0 %}
    ServerAlias {{ server_alias }}
{% endif %}
    DocumentRoot {{ doc_root }}
    <Directory {{ doc_root }}>
        Options {% for option in options %}{{ option }} {% endfor %}
        
	DirectoryIndex {{ directory_index }}
        Require all granted
        AllowOverride {{ allow_override }}
    </Directory>
</VirtualHost>
{% endif %}

